#modal_net {
  background-image:url('../../images/modal/overlay.png');
  background-repeat:repeat;
  height:100%;
  width:100%;
  position:fixed;
  left:0;
  top:0;
  z-index:999;
}

.modal-frame {
  top:0;
  position:fixed;
  z-index:1000;
}
